IDI_ICON1 ICON "app.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,1,1,0
PRODUCTVERSION  1,1,1,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName",      "Evan\0"
            VALUE "FileDescription",  "Evan 截贴图工具\0"
            VALUE "FileVersion",      "1.1.1.0\0"
            VALUE "InternalName",     "evan.exe\0"
            VALUE "LegalCopyright",   "Copyright (C) 2026 evan. All rights reserved.\0"
            VALUE "OriginalFilename", "evan.exe\0"
            VALUE "ProductName",      "Evan\0"
            VALUE "ProductVersion",   "1.1.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
